{% extends 'base.html.twig' %}

{% block title %}Add new{% endblock %}

{% block body %}
<div class="containner">

<center> <h1 class="my-4">Add Tasks : </h1> 


</center>

<div class="col-md-5 mx-auto">
{{ form(form) }}
</div>

</div>

{% endblock %}
